C:\Lambton\Term_3\BDM 3035 - Big Data Capstone Project 01\project

In [13]:
import pandas as pd

# Load the data
input_file = '..\..\yelp_dataset\medium\yelp.checkin.csv'  # Update this to your file path
output_file = '..\..\yelp_dataset\medium\processed_checkin.csv'

In [14]:
# Read the CSV file'..\..\yelp_dataset\medium\yelp.checkin.csv'
df = pd.read_csv(input_file)

In [15]:
df

,business_id,date
0,---kPU91CF4Lq2-WlRu9Lw,"2020-03-13 21:10:56, 2020-06-02 22:18:06, 2020..."
1,--0iUa4sNDFiZFrAdIWhZQ,"2010-09-13 21:43:09, 2011-05-04 23:08:15, 2011..."
2,--30_8IhuyMHbSOcNWd6DQ,"2013-06-14 23:29:17, 2014-08-13 23:20:22"
3,--7PUidqRWpRSpXebiyxTg,"2011-02-15 17:12:00, 2011-07-28 02:46:10, 2012..."
4,--7jw19RH9JKXgFohspgQw,"2014-04-21 20:42:11, 2014-04-28 21:04:46, 2014..."
...,...,...
49995,NJaR_2hke7NNAC6l1Ohr8g,"2015-01-16 02:17:10, 2015-01-16 04:45:59, 2015..."
49996,NJcoVbVwnYigsQVDOgl29Q,"2013-07-27 23:05:38, 2013-08-10 22:42:26, 2013..."
49997,NJe5fkia_63rdKXRdJlmkA,"2018-12-08 02:43:45, 2018-12-09 23:34:42, 2018..."
49998,NJg2ookzRGD2Ej-VNpuY-w,"2010-11-02 23:09:05, 2010-11-05 14:10:24, 2011..."
49999,NJhWEmpgMTo_QtndFqu3Hg,"2018-04-03 01:12:08, 2018-04-11 00:48:20, 2018..."

In [16]:
# Split the 'date' column to multiple rows based on commas and trim spaces
df = df.assign(date=df['date'].str.split(',')).explode('date')
df['date'] = df['date'].str.strip()

# Save the processed data to a new CSV file
df.to_csv(output_file, index=False)

print(f"Processed data saved to {output_file}")

Processed data saved to ..\..\yelp_dataset\medium\processed_checkin.csv